.todolist {
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 20px;
    background: #00899b;
}

.todolist-empty {
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 20px;
    background: #a5d6a7;
}

.task {
    font-weight: normal;
}


.btn-active {
    color: black;
    background-color: teal;
    border: 2px solid darkslategray;
    border-radius: 3px;
}

.input-error {
    border: 5px solid red;
    outline: none;
}

.btn-filter-container {
    display: flex;
    justify-content: space-between;
}

.add-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}