/*.App {*/
/*    padding: 30px;*/
/*    display: flex;*/
/*}*/

/*.App > div {*/
/*    margin-right: 20px;*/
/*}*/


/*New*/
.todolist {
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 20px;
    background: lightseagreen;
}

.todolist-empty {
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 20px;
    background: limegreen;
}

.task {
    font-weight: bold;
}

.task-done {
    font-weight: normal;
    text-decoration: line-through;
}

.btn-active {
    color: black;
    background-color: teal;
    border: 2px solid darkslategray;
    border-radius: 3px;
}

.input-error {
    border: 5px solid red;
    outline: none;
}

.btn-filter-container {
    display: flex;
    justify-content: space-between;
}

.add-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
}